<config>
 <main_database>
  <hostname>localhost</hostname>
  <dbname>fnscheck</dbname>
  <user>SYSDBA</user>
  <password></password>
 </main_database>
 <rbd>
  <hostname>10.9.4.11</hostname>
  <dbname>ncore-rbd</dbname>
  <user>SYSDBA</user>
  <password>vSyWIFgg7</password>
 </rbd>
<olddb>
 <hostname>10.9.4.11</hostname>
 <user>SYSDBA</user>
 <password>vSyWIFgg7</password>
 <databases>
  <db>all2009_01</db>

 </databases>
</olddb>
 <input_path>/home/git/fns/import/</input_path>
 <input_arc_path>/home/git/fns/import_arc/in_arc/</input_arc_path>
 <input_err_path>/home/git/fns/import_err/in_arc/</input_err_path>
 <output_path>/home/git/fns/out/</output_path>
 <output_path2>/home/git/fns/out2/</output_path2>
</config>
